---
import Section from "../common/Section.astro";
---

<Section>
  <h3>¿Hablamos?</h3>
  <button>CONTACTA CONMIGO</button>
  <p>Aranjuéz, Spain</p>
  <p>contact@gg-victor.dev</p>
</Section>

<style>
  p {
    margin-bottom: 2%;
  }
</style>
