---
import { basics } from "../../data/cv/cv-en.json";

const linkedin = basics.profiles.find(
  (x) => x.network.toLowerCase() === "linkedin"
);
---

<div>
  <h3>¿Hablamos?</h3>

  <a href={linkedin?.url} target="_blank">LINKEDIN</a>
  <a href="/cv">CONTACTO</a>
</div>

<style>
  a {
    padding: 5px 15px 5px 15px;
    font-size: large;
    border: solid 3px var(--text-main);
    background-color: var(--text-main);
    color: var(--background-body);

    transition: background-color 150ms ease-in-out;
  }
  a:hover {
    background-color: transparent;
    color: var(--text-main);
  }
  div {
    text-align: center;
    margin-top: 10%;
  }
</style>
