---
import Section from "../common/Section.astro";
import { skills } from "../../data/services/services-es.json";
import CardList from "../common/CardList.astro";

const cards = skills.cards;
---

<Section title="Mis Habilidades">
  <p>
    Mis principales competencias son la consultoría y el desarrollo de software,
    centrado en desarrollo web y aplicaciones híbridas.
  </p>

  <CardList cards={cards} />
</Section>

<style>
  p {
    margin-bottom: 2%;
    padding-left: 2%;
  }
</style>
