---
import "swiper/css/bundle";

import { type Project } from "@interfaces/project.interface";

import Section from "@common-components/Section.astro";
import Card from "./Card.astro";

const { projects, title = "" } = Astro.props;
---

<Section title={title}>
  <div>
    {
      projects.map((project: Project) => {
        return (
          <div class="my-5">
            <Card project={project} />
          </div>
        );
      })
    }
  </div>
</Section>

<style>
  @media print {
    .swiper,
    .swiper-not-available {
      display: none !important;
    }
  }
</style>
