/******************************************************************************/
/*  Page													                  */
/******************************************************************************/

/**************************************************************************/
/*  Paragraph															  */
/**************************************************************************/

p.subtitle-paragraph {
  margin-bottom: 40px;
}

p.subtitle-paragraph,
p.subtitle-paragraph span.bold {
  padding: 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

p.subtitle-paragraph span.bold {
  clear: both;
  display: block;
  font-weight: 700;
}

/**************************************************************************/
/*  Accordion															  */
/**************************************************************************/

.nostalgia-accordion {
}

.nostalgia-accordion .ui-corner-all,
.nostalgia-accordion .ui-corner-top {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.nostalgia-accordion .ui-accordion-header {
}

.nostalgia-accordion .ui-accordion-header a {
  font-size: 24px;
  font-weight: 500;
  padding: 0px 10px 0px 10px;
}

.nostalgia-accordion .ui-accordion-header .ui-icon {
  display: none;
}

.nostalgia-accordion .ui-accordion-content {
  padding: 15px 0px 15px 0px;
}

.nostalgia-accordion .ui-accordion-content > p {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-content,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default {
  border: none;
}

.nostalgia-accordion .ui-widget-content {
  background: none;
}

.nostalgia-accordion .ui-state-default,
.nostalgia-accordion .ui-widget-header .ui-state-default,
.nostalgia-accordion .ui-widget-content .ui-state-default {
  background: #000000 url("../image/icon_plus.png") right center no-repeat;
}

.nostalgia-accordion .ui-state-active,
.nostalgia-accordion .ui-widget-header .ui-state-active,
.nostalgia-accordion .ui-widget-content .ui-state-active {
  background: transparent url("../image/icon_minus.png") right center no-repeat;
}

.nostalgia-accordion .ui-state-active a {
  padding-left: 0px;
}

/**************************************************************************/
/*  Image list															  */
/**************************************************************************/

ul.image-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

ul.image-list li,
ul.image-list li a {
  width: 230px;
}

ul.image-list li {
  margin-bottom: 30px;
}

ul.image-list li a {
  height: 150px;
  display: block;
}

ul.image-list li.left {
  clear: both;
  float: left;
}

ul.image-list li.right {
  float: right;
}

ul.image-list div.image-list-caption {
  padding: 10px;
  padding-right: 40px;
  background: #000000 url("../image/icon_plus_yellow.png") 97% center no-repeat;
}

ul.image-list div.image-list-caption div.image-list-caption-subtitle {
  font-size: 11px;
}

/**************************************************************************/
/*  Fancybox															  */
/**************************************************************************/

a.fancybox-image,
a.fancybox-video {
  width: 230px;
  height: 150px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../image/preloader.gif");
}

a.fancybox-image img,
a.fancybox-video img {
  display: none;
  position: absolute;
}

a.fancybox-image span,
a.fancybox-video span {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  #filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

a.fancybox-image span,
a.fancybox-video span,
a.fancybox-image:hover span,
a.fancybox-video:hover span {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

a.fancybox-image:hover span,
a.fancybox-video:hover span {
  opacity: 0.8;
  #filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

a.fancybox-image span {
  background-image: url("../image/thumb_image_overlay.png");
}
a.fancybox-video span {
  background-image: url("../image/thumb_video_overlay.png");
}

/**************************************************************************/
/*  Pagination															  */
/**************************************************************************/

ul.pagination {
  margin: 0px;
  float: right;
  padding: 0px;
  margin-top: 30px;
  list-style-type: none;
}

ul.pagination li {
  float: left;
  margin-right: 2px;
}

ul.pagination li a {
  display: block;
  padding: 1px 7px 1px 7px;
  border: solid 1px #000000;
}

ul.pagination li a:hover,
ul.pagination li a.selected {
  color: #ffffff;
  background: #000000;
  text-decoration: none;
}

/******************************************************************************/
/*  About																	  */
/******************************************************************************/

div.page-about {
}

div.page-about ul.list-1 {
}

div.page-about ul.list-1 li {
  margin-bottom: 25px;
}

div.page-about ul.list-1 li p span {
  float: left;
  display: block;
  margin-right: 20px;
}

div.page-about ul.list-1 li h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

/******************************************************************************/
/*  Contact																	  */
/******************************************************************************/

div.page-contact {
}

div.page-contact div.contact-details {
}

div.page-contact div.contact-details-about {
  float: left;
  width: 205px;
  height: 160px;
  padding: 20px;
  line-height: 170%;
  background: #000000;
  background-repeat: no-repeat;
  background-position: 95% 95%;
  background-image: url("../image/icon_plus_yellow.png");
}

div.page-contact div.contact-details-about ul {
  margin-top: 20px;
}

div.page-contact div.contact-details-about ul li {
  padding-left: 20px;
}

#map,
div.page-contact div.contact-details-map {
  width: 245px;
  height: 200px;
}

#map a {
  font-size: 11px;
  color: #888888 !important;
}

div.page-contact div.contact-details-map {
  float: right;
  width: 245px;
  height: 200px;
  position: relative;
}

div.page-contact div.contact-details-map div.contact-details-map-arrow {
  top: 20px;
  z-index: 10;
  width: 18px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-image: url("../image/icon_map_arrow.png");
}
