	
	/**************************************************************************/
	/*  Base									                              */
	/**************************************************************************/
		
	/**************************************************************************/
	/*  Nostalgia								                              */
	/**************************************************************************/

		/**********************************************************************/
		/*  Nostalgia / Navigation				                              */
		/**********************************************************************/

			/******************************************************************/
			/*  Nostalgia / Navigation / Name box	                          */
			/******************************************************************/

			#nostalgia-navigation-name-box
			{
				padding-top:10px;
				padding-bottom:10px;
			}

				#nostalgia-navigation-name-box span
				{
					font-size:30px;
					display:inline;
				}
				
			/******************************************************************/
			/*  Nostalgia / Navigation / Menu		                          */
			/******************************************************************/

