
	/**************************************************************************/
	/*	Base                                                                  */
	/**************************************************************************/

	/**************************************************************************/
	/*	List                                                                  */
	/**************************************************************************/

		/**********************************************************************/
		/*	List / List 1                                                     */
		/**********************************************************************/

			ul.list-1 li
			{
				width:100%;
			}
			
	/**************************************************************************/
	/*	Headers                                                               */
	/**************************************************************************/

	h1,h1 a
	{
		font-size:40px; 
		font-weight:400;		
	}
	
	h3,h3 a
	{
		font-size:26px; 
		font-weight:400;
	}
	
	/**************************************************************************/
	/*  Nostalgia								                              */
	/**************************************************************************/

	body,
	#nostalgia
	{
		min-width:100%;
	}
	
		/**********************************************************************/
		/*  Nostalgia / Navigation				                              */
		/**********************************************************************/
	
			/******************************************************************/
			/*  Nostalgia / Navigation / Click here box	                      */
			/******************************************************************/

			#nostalgia-navigation-click-here-box
			{
				left:20%;
				width:92px;
				height:77px;
				bottom:110%;
				background-image:url('../image/click_here_arrow_2.png');
			}
	
		/**********************************************************************/
		/*  Nostalgia / Tab													  */
		/**********************************************************************/
	
			/******************************************************************/
			/*  Nostalgia / Tab / Content									  */
			/******************************************************************/
			
			#nostalgia-tab-content
			{
				padding:0px;
			}
			
				/**************************************************************/
				/*  Nostalgia / Tab / Content / Scroll						  */
				/**************************************************************/			

					/**********************************************************/
					/*  Nostalgia / Tab / Content / Scroll / Page			  */
					/**********************************************************/				
				
					#nostalgia-tab-content-page
					{
						padding:0px 0px 0px 10px;
					}
					
			/******************************************************************/
			/*  Nostalgia / Tab / Footer									  */
			/******************************************************************/
					
				/**************************************************************/
				/*  Nostalgia / Tab / Footer / Social icon					  */
				/**************************************************************/

					#nostalgia-tab-footer ul.social-list li
					{
						margin-left:4px;
						margin-right:4px;
					}
					
	/**************************************************************************/
	/*  Page		                                                          */
	/**************************************************************************/

		/**********************************************************************/
		/*  Image list														  */
		/**********************************************************************/

			ul.image-list li
			{
				margin-left:auto;
				margin-right:auto;
			}
			
			ul.image-list li.left,
			ul.image-list li.right
			{
				clear:both;
				float:none;
			}
			
	
		/**********************************************************************/
		/*  Paragraph														  */
		/**********************************************************************/

		p.subtitle-paragraph,
		p.subtitle-paragraph span.bold
		{
			font-size:18px;
		}
		
		p.subtitle-paragraph span.bold
		{
			display:inline;
		}
				
		/**********************************************************************/
		/*  Accordion														  */
		/**********************************************************************/

				.nostalgia-accordion .ui-accordion-header a
				{
					font-size:18px;
				}

	/**************************************************************************/
	/*  Contact		                                                          */
	/**************************************************************************/
	
			#map,
			div.page-contact div.contact-details-map,
			div.page-contact div.contact-details-about
			{
				float:none;
				clear:both;
			}
						
			#map,
			div.page-contact div.contact-details-map
			{
				width:100%;
			}
			
			div.page-contact div.contact-details-map div.contact-details-map-arrow
			{
				display:none;
			}
			
			#contact-form .float-left,
			#contact-form .float-right:first-child
			{
				float:left;
				clear:both;
			}
			
			#contact-form .block
			{
				margin-bottom:10px;
			}
			
			#contact-form .form-line
			{
				margin-bottom:0px;
			}

