
	/**************************************************************************/
	/*	Base                                                                  */
	/**************************************************************************/
	
	/**************************************************************************/
	/*  Form                                                                  */
	/**************************************************************************/
	
	textarea,
	input[type="text"]
	{
		width:432px;
	}

	/**************************************************************************/
	/*  Nostalgia								                              */
	/**************************************************************************/

		/**********************************************************************/
		/*  Nostalgia / Tab													  */
		/**********************************************************************/
	
			/******************************************************************/
			/*  Nostalgia / Tab / Content									  */
			/******************************************************************/
			
			#nostalgia-tab-footer,
			#nostalgia-tab-content,
			.nostalgia-tab-right #nostalgia-tab-footer
			{
				width:480px;
				min-width:480px;
			}
			
				/**************************************************************/
				/*  Nostalgia / Tab / Content / Menu						  */
				/**************************************************************/
			
					#nostalgia-tab-content-menu-select
					{
						width:455px;
					}
				
				/**************************************************************/
				/*  Nostalgia / Tab / Content / Scroll						  */
				/**************************************************************/			

					/**********************************************************/
					/*  Nostalgia / Tab / Content / Scroll / Page			  */
					/**********************************************************/				
				
					#nostalgia-tab-content-page
					{
						width:450px;
					}

	/**************************************************************************/
	/*  Page		                                                          */
	/**************************************************************************/

	/**************************************************************************/
	/*  Blog		                                                          */
	/*	Post																  */
	/**************************************************************************/
	
		/**********************************************************************/
		/*  Blog / Post	list		                                          */
		/**********************************************************************/	
		
			/******************************************************************/
			/*  Blog / Post			                                          */
			/*  Post													      */
			/******************************************************************/	
	
				/**************************************************************/
				/*  Blog / Post / Header								      */
				/*	Post / Header											  */
				/**************************************************************/	

					div.post div.post-header span,
					ul.blog-list li.blog-list-post div.blog-list-post-header span
					{
						float:right;
						font-size:26px;
					}
			
				/**************************************************************/
				/*  Blog / Post / Image									      */
				/**************************************************************/	
				
					div.post div.post-image a.fancybox-image,
					div.post div.post-image a.fancybox-video,
					ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image,
					ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video,
					div.post div.post-image a.fancybox-image img,
					div.post div.post-image a.fancybox-video img,
					ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-image img,
					ul.blog-list li.blog-list-post div.blog-list-post-image a.fancybox-video img
					{
						width:450px;
						height:184px;
					}
	
	/**************************************************************************/
	/*  Contact		                                                          */
	/**************************************************************************/

			div.page-contact div.contact-details-about
			{
				width:410px;
			}
