---
const { captionUrl } = Astro.props;
---

<!-- phone container -->
<div class="iphone">
  <!-- Small round top -->
  <div class="iphone-small-round-top"></div>

  <!-- Round top left -->
  <div class="iphone-round-top-left"></div>

  <!-- Speaker top -->
  <div class="iphone-speaker"></div>

  <!-- Screenshot -->
  <img src={captionUrl} class="iphone-screenshot" />

  <!-- Round button bottom -->
  <!-- <div class="iphone-button"></div> -->
</div>

<style>
  body {
    background-color: #333333;
  }

  .iphone {
    display: inline-block;
    margin: 30px;
    background-color: #f8f8f8;
    border: 1px solid #c0c0c0;
    padding: 0 10px 10px 10px;
    border-radius: 25px;
    max-width: 100% !important;
  }

  .iphone-screenshot {
    max-width: 200px;
    border: 1px solid transparent;
    border-radius: 20px;
  }

  .iphone-small-round-top {
    margin: 10px auto;
    width: 5px;
    height: 5px;
    background-color: #c0c0c0;
    border-radius: 50%;
  }

  .iphone-round-top-left {
    float: left;
    margin-left: 65px;
    margin-top: -2px;
    width: 9px;
    height: 9px;
    background-color: #c0c0c0;
    border-radius: 50%;
  }

  .iphone-speaker {
    margin: 10px auto;
    width: 30px;
    height: 5px;
    background-color: #c0c0c0;
    border-radius: 3px;
  }

  .iphone-button {
    border-radius: 50%;
    margin: 10px auto;
    width: 30px;
    height: 30px;
    border: 2px solid #c0c0c0;
    background: none !important;
  }

  .iphone-blue {
    background-color: #71abee;
    border-color: #447ec1;
  }

  .iphone-blue div {
    background-color: #447ec1;
    border-color: #447ec1;
  }

  .iphone-pink {
    background-color: #eec9ca;
    border-color: #d29fa0;
  }

  .iphone-pink div {
    background-color: #d29fa0;
    border-color: #d29fa0;
  }
</style>
