---
import "@styles/animations.css";
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Victor - Software Developer";
const description =
  "Hire me to create your web, mobile, or hybrid application. Software developer specialized in crafting unique applications.";
const permalink = `${Astro?.site?.href}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  lang="en"
>
  <div class="home-container fadein">
    <div class="home-copy">
      <h1>WELCOME</h1>
      <!-- <p>
        <img
          src="https://readme-typing-svg.herokuapp.com?color=08CE90&center=true&vCenter=true&lines=4+years+of+experience;APPs+Developer;Madrid,+Spain;Crafting+unique+apps"
          alt="typing intro"
          style="margin: 0 auto;"
        />
      </p> -->
    </div>

    <div class="hero-image-container">
      <picture>
        <source srcset="/assets/skeletor/info.webp" />
        <img
          class="hero-image"
          alt="Illustration of person reading a book"
          src="/assets/skeletor/info.webp"
        />
      </picture>
      <p class="caption">Software & Tech</p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    text-align: center;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    border-top: solid black 5px;

    width: 40%;
    margin: 0 auto;
    font-size: 2em;
    bottom: 0.65em;

    position: relative;
    font-style: italic;
    text-align: center;
  }

  .hero-image {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 900px;
      margin: 0 auto;
    }

    .caption {
      border-top: solid black 3px;
      width: 25%;
      bottom: 0.1em;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }

    .caption {
      border-top: solid black 1px;
      bottom: 0.9em;
    }
  }
</style>

<script>
  const color: String = "\x1b[1;31m%s\x1b[0m";

  console.log(
    color,
    `
                             \`:.\\\`---.__         \`-._                       
                               \`:.     \`--.         \`.                     
                                 \\.        \`.         \`.                   
                         (,,(,    \\.         \`.   ____,-\`.,                
                      (,\'     \`/   \\.   ,--.___\`.'                         
                  ,  ,'  ,--.  \`,   \\.;'         \`                         
                   \`{D, {    \\  :    \\;                                    
                     V,,'    /  /    //                                    
                     j;;    /  ,' ,-//.    ,---.      ,                    
                     \\;'   /  ,' /  _  \\  /  _  \\   ,'/                    
                           \\   \`'  / \\  \`'  / \\  \`.' /                     
                            \`.___,'   \`.__,'   \`.__,'  
      `,
    `▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀`,
    `
        ███████ ██   ██ ██████  ██      ██████  ████████  ██████  ██████  
        ██      ██  ██       ██ ██           ██    ██    ██  ████ ██   ██ 
        ███████ █████    █████  ██       █████     ██    ██ ██ ██ ██████  
             ██ ██  ██       ██ ██           ██    ██    ████  ██ ██   ██ 
        ███████ ██   ██ ██████  ███████ ██████     ██     ██████  ██   ██
        \\..P0RF0L10...................................................../
        `,
    `▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀`
  );
</script>
