---
import Section from "../common/Section.astro";
import { SKILLS_ICONS } from "@/icons/icon.record";

const { skills } = Astro.props;
---

<Section>
  <ul>
    {
      skills?.map(({ name }: { name: string }) => {
        const Icon = SKILLS_ICONS[name];

        return (
          <li>
            {Icon && <Icon width="16" height="16" />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: var(--primary-color-accent);
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
