---
import Section from "./Section.astro";

import HTML from "@/icons/skills/HTML.astro";
import CSS from "@/icons/skills/CSS.astro";
import JavaScript from "@/icons/skills/Javascript.astro";
import TypeScript from "@/icons/skills/Typescript.astro";
import Node from "@/icons/skills/Node.astro";
import Git from "@/icons/skills/Git.astro";

import { skills } from "../../data/cv/cv-en.json";

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  Node,
  Git,
};
---

<Section>
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name;
        const Icon = SKILLS_ICONS[iconName];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
