---
import Section from "./Section.astro";

import Capacitor from "@/icons/skills/Capacitor.astro";
import Node from "@/icons/skills/Node.astro";
import Git from "@/icons/skills/Git.astro";
import Linux from "@/icons/skills/Linux.astro";
import Apple from "@/icons/skills/Apple.astro";
import Windows from "@/icons/skills/Windows.astro";
import Angular from "@/icons/skills/Angular.astro";
import Ionic from "@/icons/skills/Ionic.astro";
import NestJS from "@/icons/skills/NestJS.astro";
import SQL from "@/icons/skills/SQL.astro";
import Java from "@/icons/skills/Java.astro";
import Kotlin from "@/icons/skills/Kotlin.astro";
import Python from "@/icons/skills/Python.astro";
import CSS from "@/icons/skills/CSS.astro";
import HTML from "@/icons/skills/HTML.astro";
import Spring from "@/icons/skills/Spring.astro";
import Docker from "@/icons/skills/Docker.astro";
import ElectronJs from "@/icons/skills/ElectronJs.astro";

const { dataset } = Astro.props;
const SKILLS_ICONS: Record<string, any> = {
  Capacitor,
  Node,
  Git,
  Linux,
  Apple,
  Windows,
  Angular,
  Ionic,
  ElectronJs,
  NestJS,
  Java,
  Python,
  SQL,
  Kotlin,
  CSS,
  HTML,
  Spring,
  Docker,
};
---

<Section>
  <ul>
    {
      dataset.map(({ name }) => {
        const Icon = SKILLS_ICONS[name];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
