---
import Section from "./Section.astro";

import Capacitor from "@/icons/skills/Capacitor.astro";
import Node from "@/icons/skills/Node.astro";
import Git from "@/icons/skills/Git.astro";
import Linux from "@/icons/skills/Linux.astro";
import Angular from "@/icons/skills/Angular.astro";
import Ionic from "@/icons/skills/Ionic.astro";
import NestJS from "@/icons/skills/NestJS.astro";

import { skills } from "../../data/cv/cv-en.json";

const SKILLS_ICONS: Record<string, any> = {
  Capacitor,
  Node,
  Git,
  Linux,
  Angular,
  Ionic,
  NestJS,
};
---

<Section>
  <ul>
    {
      skills.map(({ name }) => {
        const Icon = SKILLS_ICONS[name];

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
