---
const { contact } = Astro.props;
---

<div>
  <h3>{contact?.title}</h3>

  {
    contact?.options?.map(({ text, url, target }: any) => {
      return (
        <a href={url} target={target}>
          {text}
        </a>
      );
    })
  }
</div>

<style>
  h3 {
    color: var(--primary-color);
  }

  a {
    margin: 5px;
    padding: 5px 15px 5px 15px;
    font-size: large;
    border: solid 3px var(--text-main);
    background-color: var(--text-main);
    color: var(--background-body);

    transition:
      background-color 150ms ease-in-out,
      border-color 150ms ease-in-out;
  }
  a:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  div {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
  }
</style>
