---
import Section from "../common/Section.astro";

const { description } = Astro.props;
---

<Section title="Mi Historia">
  {
    description?.map((text: string) => {
      return <p>{text}</p>;
    })
  }
</Section>

<style>
  p {
    margin-bottom: 2%;
    padding-left: 2%;
  }
</style>
