---
import Section from "../common/Section.astro";
import { skills } from "../../data/about/services-es.json";

const description: string[] = skills.description;
---

<Section title="Mi Historia">
  {
    description.map((text: string) => {
      return <p>{text}</p>;
    })
  }
</Section>

<style>
  p {
    margin-bottom: 2%;
    padding-left: 2%;
  }
</style>
