---
import Section from "../common/Section.astro";
import CardList from "../common/CardList.astro";

const { skills } = Astro.props;
---

<Section title={skills.title}>
  {
    skills?.description?.map((text: string) => {
      return <p>{text}</p>;
    })
  }

  <CardList cards={skills.cards} />
</Section>

<style>
  p {
    margin-bottom: 2%;
    padding-left: 2%;
  }
</style>
