---
import Section from "@common-components/Section.astro";
import CardList from "@common-components/CardList.astro";

const { skills } = Astro.props;
---

<Section title={skills.title}>
  {
    skills?.description?.map((text: string) => {
      return <p>{text}</p>;
    })
  }

  <div>
    <CardList cards={skills.cards} />
  </div>
</Section>

<style>
  p {
    margin-bottom: 2%;
    padding-left: 2%;
  }

  div {
    margin: 3em 0 0 0;
  }
</style>
