---
import Social from "@components/common/Social.astro";
---

<footer
  class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp opacity-0"
>
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <ul>
        <li class="m-2 inline-block">
          <a href="/terms">Rogue Syntax &copy; 2025 (v6.0.1)</a>
        </li>
      </ul>
    </div>
    <div
      class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end"
    >
      <Social
        links={{
          github: "https://github.com/N0M4D-D3V",
          instagram: "https://www.instagram.com/fr0m.zer0.to.her0/",
          linkedIn: "https://www.linkedin.com/in/victor-develops/",
        }}
      />
    </div>
  </div>
</footer>
