---
import { LINKS } from "../components/constants/resources";
---

{
  (
    <article class="text-justify">
      <p>
        I like to think of myself as a developer committed to continuous
        learning: I am always seeking new challenges and opportunities to
        improve my skills and knowledge.
      </p>
      <br />
      <p>
        During my education in Madrid, I had the honor of being one of the top
        students in my class in Multiplatform Application Development. Since
        then, I have continued to expand my knowledge and skills in various
        areas of computer science, focusing particularly on multiplatform
        application development. I stay up-to-date with online courses and other
        learning resources to ensure that I am always at the forefront of the
        latest technologies.
      </p>
      <br />
      <p>
        My passion for technology and my personality have allowed me to develop
        a strong understanding of frontend technology, as well as other areas of
        computer science. Additionally, my experience with sports, mathematics,
        and music has provided me with additional skills.
      </p>
      <br />
      <p>
        I am always looking for new opportunities to grow and advance as a
        person and a professional. If you're interested, I invite you to connect
        with me on this platform or via email at{" "}
        <a href={LINKS.mailto} class="text-yellow-800 dark:text-yellow-200">
          {LINKS.mail}
        </a>
        .
      </p>
    </article>
  )
}
