<div>
  <img src="/assets/profile.webp" alt="Headshot of author" />
  <p>
    Software engineer focused on Software Architecture and Multiplatform App
    Development with extensive technical expertise in building web and hybrid
    apps. You can see some of my work on <a
      href="https://www.github.com/N0M4D-D3V"
      target="_blank">GitHub</a
    > or contact with me on <a
      href="https://linkedin.com/in/victor-develops"
      target="_blank">LinkedIn</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
    border: solid 2px var(--text-secondary);
    box-shadow: var(--secondary-box-shadow);
  }

  p {
    font-size: 1.125rem;
  }
</style>
