---
import ExperienceItem from "./ExperienceItem.astro";
import { EXP } from "./constants/experience";

const xp = EXP;
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    xp.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
