<footer class="no-print">
  <span>
    &copy; {new Date().getFullYear()} - N0M4D's Inn (v5.0.0) - Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener">Astro</a
    >
  </span>
</footer>

<style>
  footer {
    color: var(--primary-color);
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
