---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 28px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;

    color: var(--primary-color);
  }

  @media (width <= 700px) {
    section {
      margin-bottom: 38px;
    }
  }
</style>
