---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/animations.css";

const title = "Victor - Software Developer";
const description =
  "Hire me to create your web, mobile, or hybrid application. Software developer specialized in crafting unique applications.";
const permalink = `${Astro?.site?.href}`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  lang="es"
>
  <div class="home-container fadein">
    <div class="home-copy">
      <h1>Hey, soy Víctor</h1>
      <p>
        <img
          src="https://readme-typing-svg.herokuapp.com?color=08CE90&center=true&vCenter=true&lines=4+años+de+experiencia;APPs+Developer;Madrid,+España;Creando+apps+únicas"
          alt="typing intro"
        />
      </p>
    </div>

    <div class="hero-image-container">
      <picture>
        <source
          srcset="/assets/home-illustration.webp"
          media="(min-width: 600px)"
        />
        <img
          class="hero-image"
          alt="Illustration of person reading a book"
          src="/assets/home-illustration-small.webp"
          width="550"
          height="466"
        />
      </picture>
      <p class="caption">Software & Tech</p>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
